.contact-list{
  background-color: gray;
  height: 400px;
  width: 45%;
  float: left;
  border: solid blue 1px;
  overflow: scroll;
}

.contact-tabs{
  display:inline !important;
}

.jumbotron{
  text-align: center;
}
.thumbnail{
  text-align: center;
}

.list-group{
  text-align: center;
  }

body {
  background-color: gray;
}

.auth-login{
  text-align: center;
}

#signup {
  text-align: center;
}

#header li {
  display: inline;
}

.contact_buttons{
  list-style: none;
}

.contact_buttons li{
  display: inline;
}
