
  <h1>Express Influence</h1>
  <div id="login">
    <form action="/authentication/login" method="post">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input id="loginbutton" type="submit" value="Submit">
    </form>
    <br>
    <a href="/authentication/signup">Not a member already? Signup</a>
  </div>
  <br>
   <div id="mytext">
    <h2> Recall your Network</h2>
    <p>Inspired by the teachings of Dale Carnegie</p>
    <br>
    <p> Review Based on Employee or Store Name!</p>
    <p> Sign up to save and access your Contacts!</p>
    <br>
    <p> Comment on each Contact you make to remember key points about that person</p>
    <br>
    <p> Get ahead! Remember and be remembered!</p>
   </div>
