<div class='auth-login'>
      <h3>Express Influence</h3>
      <hr>
    <form action="/authentication/signup" method="post">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Signup">
    </form>
    <a href='/authentication/login'>Back to Login Page</a>
</div>
