<div class="jumbotron">
  <h1>Welcome <%=@user.email%></h1>
  <p> Search Contact by Industry: <div id='search_bar'>
      <form action="/contact/search" method="get">

        <input type="text" name="industry" placeholder="Industry">
        <input type="submit" value="Search Industry!">
      </form>
 </div></p>
  <p><a class="btn btn-info btn-lg" id="home_button" href="/contact/new" role="button">New Contact</a></p>
</div>

  <div class="contact-list">
    <h1>Contacts:</h1>
    <ol>
      <% @contacts.each do |contact| %>
        <%= erb :"/_contacts", locals: {contact: contact} %>
      <%end%>
    </ol>
  </div>

