 <div id="container">
 <h4><%= @contact.name %></h4>
<% if @contact %>
  <form action="/contact/edit/<%= @contact.id %>" method="post" id="edit">
    <br>
    <input type="hidden" name="_method" value="put">
    <br>
    <input type="text" name="name" placeholder="<%= @contact.name %>">
    <br>
    <input type="text" name="industry" placeholder="<%= @contact.industry %>">
    <br>
    <input type="submit">
  </form>
<% end %>
</div>
